<div style="margin: 30px;">
    <form action="/admin/add-product/" method="post" style="width: 60%;" enctype="multipart/form-data">
        <label for="">Name</label><br>
        <input type="text" name="name"><br>

        <label for="">Category</label><br>
        <input type="text" name="category"><br>

        <label for="">Price</label><br>
        <input type="text" name="price"><br>


        <label for="">Description</label><br>
        <input type="text" name="description">
        <br>


        <label class="form-label" for="customFile">Default file input example</label>
        <input type="file" class="form-control" name="img" />

        <button type="submit">submit</button>


    </form>
</div>